.BH
{
    font-weight: bold;
    font-size: 25px;
     justify-content: space-around;
    
}

.KTABA
{
    font-size: 1rem;
}

.PG
{
    display: flex;
     justify-content:space-between;
    align-items: center;
    gap: 5px;
}

.DIVTEL
{
    display: flex;
    
}

.list
{
    display: flex;
}

.tb
{
    width: 8px;   /* Relative (50% de la largeur du conteneur) */
    height: 8px;
    
}

.test
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.navbar
{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.imgbnadem
{
    width: 15px;   /* Relative (50% de la largeur du conteneur) */
    height: 15px;
}

.PBNADEM
{
    display: flex;
}

.PD 
{
    display: flex;
}
 body {
      background-color: lightblue; 
    }

    .parti2
    {
     width: 1300px;
     height: 660px;
     background-size:center ;
     background-position: center ;
     background-image: url(./image/font.png.png);
    }
